@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using HeThongBanHang.Models

@{
    ViewData["Title"] = "Customer_Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@if (TempData["NewUserId"] != null)
{
    <div class="alert alert-info">
        Có tài khoản vừa được tạo: <strong>tên tài khoản: @TempData["NewUserId"]</strong>
    </div>
}
@if (TempData["customerInfo"] != null)
{
    <div class="alert alert-info">
        Có tài khoản vừa cập nhật thông tin: <strong>tên tài khoản: @TempData["customerInfo"]</strong>
    </div>
}
<div class="card">
    <div class="card-body">
        <h4 class="card-title mb-4">Customer</h4>

        <div class="table-responsive">
            <table id="employeeTable" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="text-center">#</th>
                        <th class="text-center">Account Name</th>
                        <th class="text-center">FullName</th>
                        <th class="text-center">Email</th>
                        <th class="text-center">Phone</th>
                        <th class="text-center">City</th>
                        @* <th class="text-center">Address</th> *@
                        
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-center">@item.Id</td>
                            <td class="text-center">@item.Username</td>
                            <td class="text-center">@((item.Customers != null) ? item.Customers.FullName : " no data")</td>
                            <td class="text-center">@((item.Customers != null) ? item.Customers.Email : " no data")</td>
                            <td class="text-center">@((item.Customers != null) ? item.Customers.Tel : " no data")</td>
                            <td class="text-center">@((item.Customers != null) ? item.Customers.City : " no data")</td>
                            @* <td class="text-center">@((item.Customers != null) ? item.Customers.Address : " no data")</td> *@
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        const dataTable = new simpleDatatables.DataTable("#employeeTable", {
            perPage: 10,
            searchable: true,
            sortable: true,
            labels: {
                placeholder: "Search...",
                perPage: "{select} entries per page",
                noRows: "No employees found",
                info: "Showing {start} to {end} of {rows} entries"
            }
        });


    </script>
}


