@using HeThongBanHang.Models
@model List<HeThongBanHang.Models.Product>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Product_Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">@TempData["SuccessMessage"]</div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
}







<div class="card">
    <div class="card-body">
        
        <!-- Dùng Bootstrap Icons -->
        <div class="d-flex justify-content-start mb-3">
            <a class="btn btn-outline-success btn-sm px-3 py-2" asp-area="Admin" asp-controller="Product" asp-action="CreateProduct">
                <i class="bi bi-plus-circle"></i> Create Product
            </a>
        </div>


        <div class="table-responsive">

            <table id="productTable" class="table table-bordered table-striped">
                
                <thead>
                    <tr>
                        <th> # </th>
                        <th> Name </th>
                        <th> Category </th>
                        <th> Image </th>
                        <th> Price </th>                       
                        <th> Action </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            <td>@item.Category.Name</td>
                            <td class="text-center">
                                <img src="@item.ImageUrl" style="width: 150px; height: 150px; object-fit: cover;" />
                            </td>
                            <td>@item.Price</td>
                           

                            <td>
                                <a asp-area="Admin" asp-controller="Product" asp-action="EditProduct" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Edit</a>
                                <form asp-area="Admin" asp-controller="Product" asp-action="DeleteProduct" method="post" onsubmit="return confirm('Bạn chắc chắn muốn xóa?');" style="display:inline;">
                                    <input type="hidden" name="id" value="@item.Id" />
                                    <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>

            </table>

        </div> <!-- KẾT THÚC table-responsive -->
    </div>
</div>

@section Scripts {
    <script>
        const dataTable = new simpleDatatables.DataTable("#productTable", {
            perPage: 10,
            searchable: true,
            sortable: true
        });
    </script>
}
